#container {
    display: flex;
    flex-direction: column;
    width:50%;
    margin: 0 auto;
    text-align:center;
}


#container2 {
    display: flex;
    flex-direction: column;
    width:50%;
    margin: 0 auto;
    margin-left: 15px;
    text-align:left;
    background-color: #05F9FF;
    outline:solid 1px #06080A;
    
}
#info {
    display:flex;
    flex-direction: row;
  
}

#eendje {
background-image:url('img/eend.png');
background-repeat: no-repeat;
background-size:cover;
width:400px;
height: 400px;
outline: solid 2px #06080A;
margin:0 auto;
}


#profilename {
    color:#FA0700 ;
    background-color: #05F9FF;
    border: solid 2px #06080A;
    text-align:center;
    width:100%;
}


#bold {
    font-weight: bold;
    border-bottom:solid 1px #06080A;
    margin-bottom:5px;
}